.board {
    position: relative;
    margin: 0 auto;
    background-color: black;
    border: solid green 5px;
}

.cell-alive {
    background-color: white;
}

.cell-dead {
    background-color: black;
}
